doctype html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    .container
      h1 About My Simple Postboard
      p A humble 
        a(href='https://en.wikipedia.org/wiki/Create,_read,_update_and_delete') CRUD
        | -capable webpage.
      p GitHub repository: 
        ul
          li
            a(href='https://github.com/ytjchan/my-simple-postboard') https://github.com/ytjchan/my-simple-postboard
      p Technologies/Dependencies: 
        ul
          li 
            a(href='https://nodejs.org/') Node.js
          li
            a(href='http://expressjs.com/') Express
          li
            a(href='https://www.npmjs.com/package/body-parser') Body-Parser
          li
            a(href='https://node-postgres.com/') Node-Postgres OR 
          li
            a(href='https://github.com/mysqljs/mysql') MySQL JS
          li
            a(href='https://pugjs.org/') Pug
          li
            a(href='https://getbootstrap.com/') Bootstrap
          li
            a(href='https://jquery.com/') jQuery
          li
            a(href='https://sweetalert2.github.io/') Sweet Alert 2
